<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.yunding.social.mapper.FriendApplyMapper" >
  <resultMap id="BaseResultMap" type="cn.yunding.social.pojo.FriendApply" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user_id" property="userId" jdbcType="VARCHAR" />
    <id column="sender_id" property="senderId" jdbcType="VARCHAR" />
    <result column="mark" property="mark" jdbcType="VARCHAR" />
    <result column="group" property="group" jdbcType="VARCHAR" />
    <result column="notes" property="notes" jdbcType="VARCHAR" />
    <result column="is_agree" property="isAgree" jdbcType="INTEGER" />
    <result column="apply_time" property="applyTime" jdbcType="TIMESTAMP" />
    <result column="agree_time" property="agreeTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>